/* Main App */




body {
  background-color: #343a40; /* Dark grey background color */
  margin: 0; /* Remove default margin to fill the entire viewport */
  font-family: Arial, sans-serif; /* Set a default font-family */
  color: #f5f5f5; /* Set a default text color (white) */
}

/* Define the container for the image */
.image-icon-container {
  margin-right: 20px;
  width: 50px; /* Specify the desired width */
  max-width: 100%; /* Ensure it doesn't exceed the container's width */
  height: auto; /* Maintain the aspect ratio */
}

/* Style the image within the container */
.image-icon-container img {
  max-width: 100%; /* Ensure the image fits within the container */
  height: auto; /* Maintain the aspect ratio */
}

.App {
  display: flex;
  height: 100%; /* Make the .App container 100% height */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-content {
  flex-grow: 1; /* Allow the content to grow and occupy the remaining space */
  height: 100%; /* Ensure content also takes up 100% height */
}

/* Nav Bar */

.navbar {
  background-color: #1E1E1E;
  color: #FFFFFF;
  width: 200px; /* Set the width of the navbar */
  padding: 20px;
  height: 100vh;
}

.nav-item {
  display: flex; /* Use flexbox to align items horizontally */
  align-items: center; /* Center items vertically */
}

.navbar ul {
  list-style-type: none;
  padding: 0;
}

.navbar li {
  margin-bottom: 10px; /* Adjust spacing between list items */
}

.navbar a {
  text-decoration: none;
  color: #FFFFFF;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
